[[source]]
url = "https://gitlab.gitguardian.ovh/api/v4/projects/435/packages/pypi/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
haystack-ai = "*"
skypilot = {extras = ["aws"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
